.toast{

position:fixed;

bottom:30px;

right:30px;

background:#173126;

color:white;

padding:15px 25px;

border-radius:10px;

font-weight:600;

box-shadow:0 10px 25px rgba(0,0,0,.2);

animation:slideUp .4s;

z-index:999;

}

@keyframes slideUp{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}