.sidebar{

    position:fixed;

    top:0;
    left:0;

    width:260px;

    height:100vh;

    background:#173126;

    color:white;

    display:flex;

    flex-direction:column;

    padding:30px 20px;

    /* overflow-y:auto; */

    z-index:1000; 


    overflow:hidden;

}

.logo{
    margin-bottom:50px;
}

.logo h2{
    font-size:32px;
    font-weight:800;
}

.sidebar nav{
    display:flex;
    flex-direction:column;
    gap:15px;
    flex:1;

    overflow-y:auto;
}

.sidebar nav a{
    color:white;
    text-decoration:none;
    display:flex;
    align-items:center;
    gap:15px;
    padding:15px;
    border-radius:12px;
    transition:.3s;
    font-size:16px;
}

.sidebar nav a svg{
    font-size:20px;
    min-width:22px;
}

.sidebar nav a:hover{
    background:#315442;
}

.sidebar nav a.active{
    background:#d9f36b;
    color:#173126;
    font-weight:700;
}

.logout-btn{
    margin-top:auto;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:12px;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#d9534f;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.logout-btn:hover{
    background:#c9302c;
}

/* ---------- Tablet ---------- */

@media (max-width:1024px){

.sidebar{

    width:90px;

    padding:25px 10px;

}

.logo h2{

    display:none;

}

.sidebar nav a{

    justify-content:center;

    padding:16px;

}

.sidebar nav a span{

    display:none;

}

.logout-btn{

    padding:14px;

    font-size:0;

}

.logout-btn svg{

    font-size:22px;

}

}

/* ---------- Mobile ---------- */

@media (max-width:768px){

.sidebar{

    width:70px;

    padding:20px 8px;

}

.sidebar nav a{

    padding:14px;

}

.sidebar nav a svg{

    font-size:22px;

}

}