.dialog-overlay{

position:fixed;

top:0;

left:0;

right:0;

bottom:0;

background:rgba(0,0,0,.5);

display:flex;

justify-content:center;

align-items:center;

}

.dialog{

width:450px;

background:var(--card-color);

padding:30px;

border-radius:20px;

}

.dialog-header{

display:flex;

justify-content:space-between;

margin-bottom:25px;

}

.dialog-header button{

border:none;

background:none;

font-size:22px;

cursor:pointer;

}

.dialog form{

display:flex;

flex-direction:column;

}

.dialog label{

margin-top:15px;

margin-bottom:6px;

font-weight:bold;

}

.dialog input,
.dialog select{

padding:12px;

border:1px solid #ccc;

border-radius:8px;

}

.save-btn{

margin-top:25px;

padding:15px;

color:black;

background-color: #315442;

border:none;

border-radius:10px;

cursor:pointer;

font-size:16px;

}