.history-dialog{

width:700px;

background:var(--card-color);

padding:30px;

border-radius:20px;

max-height:80vh;

overflow:auto;

}

.history-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}

.history-day{

margin-bottom:30px;

padding-bottom:20px;

border-bottom:1px solid #ddd;

}

.history-entry{

padding:10px 0;

display:flex;

justify-content:space-between;

}
